*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Roboto', sans-serif;
   
}

ul{
    float: right;
    background-color: #dbe9f8;
    height: 8rem;
    width: 100%;
    text-decoration: none;
  }

li{
    display: inline; 
}

a{
    padding:0;
    text-decoration: none;
    color: #1e266d;
    margin: auto;
    margin-left:6rem;
    justify-content: space-evenly;

}
@media screen and (max-width: 350px) {
    .a{
        visibility: hidden;
    }
}
button{
 background-color:#1e266d;
 color: whitesmoke;
 height: 40px;
 width: 140px;
 border-radius: 2px;
 border-block-end-color: rgb(253, 252, 253);
 margin-top: 1rem;
 
}
.one{
    background-color: #77ddfc;
    height: 40px;
    width: 100px;  
}
.pic{
    width: 500px;
    height: 350px;
    margin-top: 5rem;
    margin-right: 6rem;
} 
@media screen and (max-width: 480px) {
    .pic {
        width: 200px;
        height: 200px;
    }
}
body{
    background-color:#dbe9f8 ;
}
.container{
    display: flex;
    flex-direction: row;
    padding: 0.75rem;
    
    
}
.first{
    
    margin-top:9rem ;
    margin-left: 7rem;
    color:#1e266d ; 
    padding-bottom: 1rem;  
}
.second{
    color:#1e266d ; 
    margin-left: 7rem;
    
}
span{
    font-size: 3rem;
    
}
h5{
    color:#171718; 
    margin-left: 7rem;  
    width: 40%;
}
summary{
   color:#152292; 
   margin-left: 7rem;
   font-size: small;
   padding: 5px;
   
}
.invest{
    color:rgb(253, 247, 247); 
    background-color: #1e266d;
    height: 40px;
    width: 120px;
    margin-left: 7rem;
}
.body-second{
    background-color:#dbe9f8 ;
}

.column {
    float: left;
    width: 15%;
    margin-right: 6rem;
    
   
}
.row {
    margin: 0 -5px;
    padding-inline-start: 5px;
    margin: 0.5rem;
}
.row:after {
    content:"" ;
    display: table;
    clear: both;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19);
    padding: 25px;
    text-align: center;
    background-color: rgb(245, 243, 245);
    
    width: 18vw;
    height: 20vh;
    margin-top: 2rem;
    margin-left:7rem ;
    margin-right: 6rem;
}
@media screen and (max-width: 600px) {
    .column {
        display: block;
        margin-bottom: 20px;
        width: 15%;
    }
}
small{
    padding: 10px;
}
.new{
    background-color: #dbe9f8;
    height: 5vh;
    width: 100%;
}
.main{
    background-color: rgb(240, 236, 236);
    height: 80vh;
    width: 100%;
}
.mission{
    width: 585px;
    height: 400px;
    margin-top: 5rem;
    margin-left: 6rem;
}
.blue{
    background-color: #1b2686;
    width: 588px;
    height: 400px; 
    margin-top: 5rem;
    margin-right: 5rem;
    float: right;
    
}
h6{
    margin-left: 40px;
    color: rgb(196, 196, 201);
    padding-top: 60px;
}
h2{
    margin-left: 40px;
    color: rgb(244, 244, 245);
    padding: 3px;
    font-size: xx-large;
}
h4{
    margin-left: 40px;
    margin-right: 25px;
    color: rgb(222, 222, 226);
    font-size: small;
    padding: 5px;
}
h1{
    color: rgb(249, 249, 250);
    font-size: medium;
    margin-left: 40px;
    padding: 20px;
}
.card-two{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19);
    padding: 40px;
    text-align: center;
    background-color: rgb(245, 243, 245);
    margin: 15px;
    width: 25vw;
    height: 30vh;
    margin-top: 2rem;
    margin-left:6rem ;
    margin-right: 8rem; 
    
}
.card-three{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19);
    padding: 40px;
    margin: 15px;
    text-align: center;
    background-color: rgb(245, 243, 245);
    
    width: 25vw;
    height: 30vh;
    margin-top: 2rem;
    margin-left: 6rem;
    margin-right: 9rem;
}
.column-one{
    float: right;
    margin-left: -1rem;
    margin-right: -4rem
    
}
.column-two{
    float: left;
    margin-left: -1rem;
    margin-right: -10rem;
    
    
}

header{
    margin-left: 6rem;
    margin-right: 8rem; 
    color: rgb(53, 52, 52);
    padding: 4rem;
    height: 1vh;
}
article{
    color: rgb(26, 25, 25);
    font-size: 40px;
    margin-left: 4rem;
    margin-right: 6rem;
    padding: 2rem;
    height: 2vh;

}
h3{
    color: rgb(0, 8, 4);
    margin-left: -3rem;
    font-size: medium;
   
}
p{
margin-left: -4rem;
color: rgb(32, 32, 32);
padding: 8px;
font-size: small;


}
u{
    color: rgb(15, 15, 15);
    font-size: xx-small;
    float: right;
    margin-top: 1rem;
}
.product{
    background-color: rgb(243, 242, 241);
    height: 60vh;
    width: 100%;
  
   
}
.card-five{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19);
    padding: 40px;
    text-align: center;
    background-color: rgb(230, 207, 230);
    width: 25vw;
    height: 35vh;
    margin-top: 1rem;
    border-radius: 2px;
    border-color: rgb(240, 237, 237);   
}
.column-five{
    float: left;
}
.card-fine{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19);
    padding: 40px;
    
    text-align: center;
    margin-top: 1rem;
    background-color: rgb(230, 207, 230);
    width: 25vw;
    height: 35vh;
    border-color: rgb(240, 237, 237);
    margin-left: 2rem;
    margin-right: 25rem;  
}
.column-done{
    float: right;
    margin-left: -1rem;
    margin-right: -2rem
}
.card-wait{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19);
    padding:40px;
    
    margin-top: 1rem;
    text-align: center;
    background-color: rgb(230, 207, 230);
   
    width: 25vw;
    height: 35vh;
    border-color: rgb(240, 237, 237);
    margin-left: -22rem;  
}
.column-six{
    float: right;
    
}
.row-two{
    margin: 20px;
    display: flex;
    
}
.customer{
    height: 70vh;
    width: 100%;
    background-color: #ecd7fa;
    padding: 1rem;
}
.h3{
    color: rgb(0, 8, 4);
    margin-left: -5rem;
    font-size: medium;
}
p{
    margin-left: 1rem;
    color: rgb(32, 32, 32);
    padding: 8px;
    font-size: small;
}
.blog{
    height: 120vh;
    width: 100%;
    background-color: #DDFFD9;
    justify-content: space-evenly;

}
.money{
    padding: 15px;
    color: rgb(10, 10, 10);
    font-size: large;
    margin-left: 2rem;
}
.manage{
    color: rgb(61, 61, 61);
    padding: 0px;
    margin-left: 3rem;
}
.limit{
    padding: 15px;
    color: rgb(10, 10, 10);
    font-size: large;
    margin-left: 1rem;
}
.lim{
    color: rgb(61, 61, 61);
    margin-left: 2rem;
    padding: 35px;
}
.model{
    padding: 15px;
    color: rgb(10, 10, 10);
    font-size: large;
    margin-left: 1rem;
}
.stage{
    color: rgb(61, 61, 61);
    margin-left: 2rem;
    padding: 35px;
}

.under{
    font-size: x-small;
    color: rgba(98, 60, 202, 1);
    float: right;
    margin-top: 17px;

    
}
.b{
    height: 35vh;
    width: 25vw;
    margin-left: 0rem;
    padding: 0%;
}
.c{
    height: 35vh;
    width: 25vw;
    margin-left: 0rem;
}
.d{
    height: 35vh;
    width: 25vw;
    margin-left: 0rem;
    
}
.column-nine{
    height: 50vh;
    width: 25vh;
}
.card-six{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19);
    padding: 40px;
    margin: 2px;
    text-align: center;
    background-color: rgb(230, 207, 230);
    padding: 0rem;
    width: 25vw;
    height: 70vh;
    border-color: rgb(240, 237, 237);
    margin-left: 6rem;
   
}

.card-seven{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19);
    padding: 40px;
    margin: 2px;
    text-align: center;
    background-color: rgb(230, 207, 230);
    padding: 0rem;
    width: 25vw;
    height: 70vh;
    border-color: rgb(240, 237, 237);
    margin-left: 6rem;
 
   
}
.card-eight{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19);
    padding: 40px;
    margin: 2px;
    text-align: center;
    background-color: rgb(230, 207, 230);
    padding: 0rem;
    width: 25vw;
    height: 70vh;
    border-color: rgb(240, 237, 237);
    float: right;
    
}
.column-ten{
    margin-left: 16rem;
}
.column-eleven{
float: right;
margin-right: 800rem;
margin-left: 3rem;

}
.row-one{
  display: flex;  
  overflow: hidden;
}
footer{
    background-color: #0a4188;
    height: 60vh;
    width: 100%;
}
.term{
    background-color: #031731;
    height: 10vh;
    width: 100%;
    padding-bottom: 0;
}
td{
    color: #ebecee;
    width: 25%;
    margin-left: 6rem;
   
    
}
th{
  text-align: left;
  color: #ebecee;
  padding: 13px;
  width: 25%;
    
}
tr{
    padding: 15px;
    
}
.table{
    width: 80%;
   margin-left: 6rem;
   margin-right: 6rem;
}
.name{
    background-color: rgb(246, 248, 246);
    height: 6vh;
    width: 15vw;
    border-radius: 5px;
    color: rgb(127, 126, 128);
}
.sub{
    background-color: rgb(124, 230, 221);
    color: rgb(252, 248, 247);
    border-radius: 5px;
}
.now{
    margin-left: 6rem;
}
.link{
    height: 35px;
    width: 35px;
    border-radius: 50%;
}
.tweet{
    height: 35px;
    width: 35px;
    border-radius: 50%;
}
.insta{
    height: 35px;
    width: 35px;
    border-radius: 50%;
}
.face{
    height: 35px;
    width: 35px;
    border-radius: 50%;
}
.h7{
  color:#6f6f70 ;
  margin-left: 6rem;
  padding: 20px;
}
.h8{
    float: right;
    margin-right: 8rem;
}
.h9{
    text-align: center;
    margin-left: 16rem;
}
.h10{
    margin-left:6rem;
}
.icons{
    height: 35px;
    width: 40px;
    margin-top: -40px;
    margin-right: 8rem;
    
}


















